<h1><%= @lesson.name %></h1>
<p>En esta lección hablaremos de:</p>
<p><%= @lesson.description %></p>
<p><%= @lesson.each do |l| %></p>
<p><%= l.name %></p>
<p><% end %></p>
<%= link_to "Volver al temario", course_path(@course) %>