<h1><%= @lesson.name %></h1>
<p>En esta lección hablaremos de:</p>
<p><%= @lesson.description %></p>
<h2>Comentarios</h2>
<p><%= @lesson.comments.each do |com| %></p>
<p>Usuario: <%= com.user_id %></p>
<p>Comentario: <%= com.comment %></p>
<p><% end %></p>
<%= link_to "Volver al temario", course_path(@course) %>