<h1><%= @lesson.name %></h1>
<p>En esta lección hablaremos de:</p>
<p><%= @lesson.description %></p>
<h2>Lecciones</h2>
<ul>
<% @course.lessons.each do |lesson| %>
<li><%= lesson.name, course_lesson_path(:course_id => @course, :id => lesson.id)%></li>
<% end %>
</ul>
<h2>Comentarios</h2>
<p><% @lesson.comments.each do |com| %></p>
<p>Usuario: <%= com.user.first_name %> <%= com.user.last_name %></p>
<p>Fecha: <%= com.created_at %></p>
<p>Comentario: <%= com.comment %></p>
<p><% end %></p>
<%= link_to "Volver al temario", course_path(@course) %>