<h1><%= @lesson.name %></h1>
<p>En esta lección hablaremos de:</p>
<p><%= @lesson.description %></p>
<p><%= @course.lessons.comments.each do |com| %></p>
<p><%= com.comment %></p>
<p><% end %></p>
<%= link_to "Volver al temario", course_path(@course) %>