<h1>Nuestros Cursos</h1>
<% @courses.each do |c| %>
<h2>Curso: <%= c.name %></h2>
<p>Profesor: <%= c.user.first_name %> <%= c.user.last_name %></p>
<p>Lecciones: <%= c.lessons.count %></p>
<p>Ultima actualización: <%= c.updated_at %></p>
<p>Alumnos inscritos: <%= c.enrollments.count %></p>
<%if current_user.nil?%>
<%current_user = []%>
<%else%>
<p>Inscrito?: <%= Enrollment.find_by(course_id: c.id, user_id: current_user.id).nil? ? "No" : "Si" %></p>
<% end %>
<p><%= c.comments.count %> Comentarios</p>
<p><%= link_to "Ver curso", course_path(c.id) %></p>
<% end %>
<br/>
<%= link_to "Home", root_path %> ||
<% if @current_user_enrollments.first.nil? %>
No tienes cursos enrrolados
<% else %>
<%= link_to "Mis Cursos Enrrolados", mis_cursos_enrrolados_course_enrollments_path(course_id: @current_user_enrollments.first.course_id) %>
<% end %>