<h1>Nuestros Cursos</h1>

<% @courses.each do |c| %>
<h2>Curso: <%= c.name %></h2>
<p>Profesor: <%= c.user.first_name %> <%= c.user.last_name %></p>
<p>Lecciones: <%= c.lessons.count %></p>
<p>Ultima actualización: <%= c.updated_at %></p>
<p>Alumnos inscritos: <%= c.enrollments.count %></p>
<p><%= c.comments.count %> Comentarios</p>
<%= link_to "Más detalles", course_path(c.id) %>
<% end %>
<br/>
<br/>
<%= link_to "Volver a Home", root_path %>

