<h1>Editos de Curso</h1>
Apreciado profesor recuerde que para crear lecciónes debe estar enrrolado y ser el creador del curso.
A continuación los cursos que tiene creados.
<% @courses.each do |c| %>
<% enrollment_course = Enrollment.find_by(course_id: c.id, user_id: current_user.id) %>
<h2>Curso: <%= c.name %></h2>
<p>Profesor: <%= c.user.first_name %> <%= c.user.last_name %></p>
<p>Lecciones: <%= c.lessons.count %></p>
<p>Ultima actualización: <%= c.updated_at %></p>
<p>Alumnos inscritos: <%= c.enrollments.count %></p>
<p>Inscrito?: <%= enrollment_course.nil? ? "No" : "Si" %></p>
<p><%= c.comments.count %> Comentarios</p>
<%= link_to "Ver Curso", course_path(c.id) %> || 
<%= link_to "Editar Curso", edit_course_path(c.id) %> || 
<%= link_to "Borrar Curso", course_path(c.id),  method: :delete, data: {confirm: "¿Esta seguro?"} %> || 
<% if enrollment_course.nil? %>
<%= link_to "Enrrolarse", course_enrollments_path(course_id: c.id), method: :post, data: {confirm: "¡Estas a un paso de Enrollarte!, por favor confirma"} %> || 
<% else %>
<%= link_to "Crear Lección", course_enrollment_lessons_path(course_id: c.id, enrollment_id: enrollment_course.id) %> ||
<% end %>
<% if c.lessons.first.nil? %>
No hay lecciones
<% else %>
<%= link_to "Editor de Lecciones", course_enrollment_lesson_mis_lecciones_creadas_path(course_id: c.id, enrollment_id: enrollment_course.id, lesson_id: c.lessons.first.id) %>
<% end %>
<% end %>
<br/>
<br/>
<p><%= link_to "Crear Curso", new_course_path %></p>
<%= link_to "Home", root_path %> ||
<% if @courses.first.nil? %>
No tienes cursos enrrolados
<% else %>
<%= link_to "Mis Cursos Enrrolados", mis_cursos_enrrolados_course_enrollments_path(course_id: @enrollments_current_user_id) %>
<% end %>
