<h1>Mis Cursos Creados</h1>
<% @courses_enrollment.each do |c| %>
<h2>Curso: <%= c.course.name %></h2>
<p>Profesor: <%= c.course.user.first_name %> <%= c.course.user.last_name %></p>
<p>Lecciones: <%= c.course.lessons.count %></p>
<p>Ultima actualización: <%= c.course.updated_at %></p>
<p>Alumnos inscritos: <%= c.course.enrollments.count %></p>
<p>Inscrito?: <%= Enrollment.find_by(course_id: c.course.id, user_id: current_user.id).nil? ? "No" : "Si" %></p>
<p><%= c.course.comments.count %> Comentarios</p>
<%= link_to "Ver curso", course_path(c.id) %> || 
<%= link_to "Borrar", course_path(c.id),  method: :delete, data: {confirm: "¿Esta seguro?"} %> || 
<%= link_to "Editar", edit_course_path(c.id) %>
<% end %>
<br/>
<br/>
<p><%= link_to "Crear Curso", new_course_path %></p>
<%= link_to "Home", root_path %> ||
<%= link_to "Mis Cursos", course_enrollments_path(course_id: Enrollment.find_by(course_id: @courses_enrollment.first.course_id, user_id: current_user.id).course_id) %>

