<h1>Sobre el Curso</h1>
<h1>Nombre del curso: <%= @course.name %></h1>
<p>Descripci贸n del curso: <%= @course.description %></p>
<p>Lecciones: <% @course.lessons.each do |lesson| %></p>
<p>Lecci贸n: <%= lesson.name %></p>
<p>Curso id: <%= @course.id %></p>
<p>Lecci贸n id: <%= lesson.id %></p>
<p>Lecci贸n id: <%= lesson.comment %></p>
<%= link_to "Mas detalles", course_lesson_path(:course_id => @course, :id => lesson.id) %>
<%end%>
<br/>
<%= link_to "Volver a cursos", courses_path %>