<h1>Contenido del Curso</h1>
<h1>Nombre del curso: <%= @course.name %></h1>
<p>Descripción del curso: <%= @course.description %></p>
<p>Profesor: <%= @course.user.first_name %> <%= @course.user.last_name %></p>
<p>Lecciones: <%= @course.lessons.count %></p>
<p>Comentarios: <%= @course.comments.count %></p>
<%= link_to "Ver Lecciones", course_lesson_path(:course_id => @course, :id => @lesson) %>
<p><% @course.lessons.each_with_index do |lesson, i| %></p>
<ul><%= 1+i %>.- <%= link_to lesson.name, course_lesson_path(:course_id => @course, :id => lesson.id) %></ul>
<% i+=1 %>
<%end%>
<br/>
<%= link_to "Volver a cursos", courses_path %>