<h1>Contenido del Curso</h1>
<h2>Nombre del curso: <%= @course.name %></h2>
<p>Descripción del curso: <%= @course.description %></p>
<p>Profesor: <%= @course.user.first_name %> <%= @course.user.last_name %></p>
<p>Lecciones: <%= @course.lessons.count %></p>
<p>Comentarios: <%= @course.comments.count %></p>
<p>Enrrolados: <%= @course.enrollments.count %></p>
<p>Enrrolado: <%= @enrollment_status %></p>
<h3>Lecciones: <% @course.lessons.each %></h3>
<p><% @course.lessons.each_with_index do |lesson, i| %></p>
<ul><%= 1+i %>.- <%= lesson.name %><%= @current_user_enrollment[0].id %></ul>
<% i+=1 %>
<%end%>
<br/>
<% a = "Continuar Curso" %>
<% b = "Suscribirse" %>
<%= @enrollment_status == "Si" ? a : b %>
<br/>
<%= link_to "Volver a cursos", courses_path %>