<div class="container">
  <div class="row justify-content-around">
    <div class="col-12 col-md-8">
      <div class="card mt-3 p-2 rouded-3 border-0">
        <div class="card-body">
          <div class="border p-3">
            <h2 class="text-center mt-4"><%= @lesson.name %></h2>
            <p class="text-justify mt-5 p-4"><%= @lesson.description %></p>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card mt-3 rounded">
                <div class="card-body">
                  <h2>Comentarios</h2>
                  <% if @lesson.comments.count == 0 %>
                  <div class="card">
                    <div class="card-body">
                      <p class="text-left">No hay comentario, ¡Se el primero en realizar uno!</p>
                    </div>
                  </div>
                  <% else %>
                    <p><% @lesson.comments.each do |com| %></p>
                    <div class="card">
                      <div class="card-body">
                      <p>Usuario: <%= com.user.first_name %> <%= com.user.last_name %></p>
                      <p>Fecha: <%= com.created_at %></p>
                      <p>Comentario: <%= com.comment %></p>
                      <% if com.user_id == current_user.id %>
                        <%= link_to "Editar", edit_course_enrollment_lesson_comment_path(:course_id => @course.id, :enrollment_id => @enrollment.id, :lesson_id => @lesson.id, :comment_id => com.id ) %> || 
                        <%= link_to 'Borrar', 
                        course_enrollment_lesson_comment_path(@course, @enrollment, @lesson, com.id), method: :delete,
                        data: {confirm: "¿Estas seguro?, borraras el comentario."} %>
                    </div>
                  </div>
                      <% else %>
                    </div>
                  </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
              <div class="m-3">
                <button class="btn btn-secondary" role="buttom"><%= link_to "Volver", courses_path, class: "text-white" %></button>
                <button class="btn btn-success" role="buttom"><%= link_to "Comentar", new_course_enrollment_lesson_comment_path(@course, @enrollment, @lesson), class: "text-white" %></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card mt-5 rounded">
          <div class="card-body">
            <h5><%= @course.name %></h5>
            <h6 class="text-muted pl-2">Lecciones</h6>
            <ul>
            <% @course.lessons.each_with_index do |lesson, i| %>
            <li><a  class= "text-warning"><%=1+i%>.- </a><%= link_to lesson.name, course_enrollment_lesson_path(:course_id => @course, :enrollment_id => @course.enrollments[0].id, :id => lesson.id), class: "text-warning" %></li>
            <% i+=1 %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
