<h1>Mis Cursos</h1>
<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
<% @enrollments.each do |e| %>
  <% course_enrollment = Course.find(e.course_id) %>
  <% user_enrollment = User.find(e.user_id) %>
  <% user = User.find(course_enrollment.user_id) %>
  <p>Profesor: <%= user.first_name %> <%= user.last_name %></p>
  <p>Inscritos: <%= @enrollments.count %>   
  <p>Nombre del curso: <%= course_enrollment.name %>
  <p>Descripción del curso: <%= course_enrollment.description %></p>
  <p>Lecciones: <%= course_enrollment.lessons.count %></p>
  <p>Comentarios: <%= course_enrollment.comments.count %></p>
<% end %>
<br/>
<%= link_to "Home", root_path %>
